@page
@model Assiduite.Pages.Filliere.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutMaster.cshtml";
}

<h1>Edit</h1>

<h4>Filiere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Filiere.Id_Fil" />
            <div class="form-group">
                <label asp-for="Filiere.Nom_Fil" class="control-label"></label>
                <input asp-for="Filiere.Nom_Fil" class="form-control" />
                <span asp-validation-for="Filiere.Nom_Fil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filiere.Annee_Fil" class="control-label"></label>
                <input asp-for="Filiere.Annee_Fil" class="form-control" />
                <span asp-validation-for="Filiere.Annee_Fil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
