@page
@model Assiduite.Pages.Seance.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Seance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seance.Id_Mat_Seance" class="control-label"></label>
                <select asp-for="Seance.Id_Mat_Seance" class ="form-control" asp-items="ViewBag.Id_Mat_Seance"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.Id_Prof_Seance" class="control-label"></label>
                <select asp-for="Seance.Id_Prof_Seance" class ="form-control" asp-items="ViewBag.Id_Prof_Seance"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.Id_Fil_Seance" class="control-label"></label>
                <select asp-for="Seance.Id_Fil_Seance" class ="form-control" asp-items="ViewBag.Id_Fil_Seance"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.Id_Salle_Seance" class="control-label"></label>
                <select asp-for="Seance.Id_Salle_Seance" class ="form-control" asp-items="ViewBag.Id_Salle_Seance"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seance.HeureDebut_Seance" class="control-label"></label>
                <input asp-for="Seance.HeureDebut_Seance" class="form-control" />
                <span asp-validation-for="Seance.HeureDebut_Seance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.HeureFin_Seance" class="control-label"></label>
                <input asp-for="Seance.HeureFin_Seance" class="form-control" />
                <span asp-validation-for="Seance.HeureFin_Seance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.Date_Seance" class="control-label"></label>
                <input asp-for="Seance.Date_Seance" class="form-control" />
                <span asp-validation-for="Seance.Date_Seance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
