@page
@model Assiduite.Pages.LoginModel
@{
    Layout = "../Pages/Shared/_LayoutMaster";
}
<div class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar" src="../assets/img/emilyz.jpg" alt="...">
                                
                            </a>
                    <p class="description">
                        Se Connecter
                    </p>
                </div>
                </p>
                <form method="post" action="">
                    <div class="form-group">
                        <label></label>
                        <!--  <input type="text" class="form-control" placeholder="Matricule">-->
                        <label asp-for="Input.Email">Matricule</label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Matricule" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <!--<label>Mot de passe</label>
    <input type="password" class="form-control" placeholder="Password">-->
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-fill btn-primary">Connexion</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <h5 class="title" style="text-align:center" >Easy Attendance</h5>
                <!--<div class="button-container">
        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
        </button>
        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
        </button>
        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
        </button>
    </div>-->
            </div>
        </div>
    </div>
</div>
        </div>