@page
@model page1Model
@{
    // ViewData["Title"] = "Home page";
    Layout = "../Pages/Shared/_LayoutIndex";
}
    <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4">I am Morgan Freeman</h1>
        <p class="intro-subtitle"><span class="text-slider-items">CEO DevFolio,Web Developer,Web Designer,Frontend Developer,Graphic Designer</span><strong class="text-slider"></strong></p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
    </div>

