@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/EasyAttendance.png">
    <title>
        @ViewData["Title"] - Easy Attendance
    </title>
    <!--     Fonts and icons     -->
    <link href="~/lib/fontawesome-pro/css/all.css" rel="stylesheet" runat="server" />

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" runat="server" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/jquery.dataTables.css" runat="server" />

    <!-- CSS Pluging-->
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/dataTables.bootstrap4.css" runat="server" />

    <link href="@Url.Content("~/assets/css/Attendance.css")" rel="stylesheet" runat="server" type="text/css" />
</head>

<body class="">
    <div class="wrapper">
        <div class="main-panel">
            <div class="content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                Easy Attendance
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> <i class="tim-icons icon-heart-2"></i>
                        <a href="" target="_blank">made by Askour & Hilali</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/lib/jquery/dist/jquery.min.js" runat="server"></script>
    

    <!-- EasyAttendance JS -->
    <script src="~/assets/demo/demo.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>