@using Assiduite.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="~/EasyAttendance.png">
        <title>
            @ViewData["Title"] - Easy Attendance
        </title>
        <!--     Fonts and icons     -->
        <link href="~/lib/fontawesome-pro/css/all.css" rel="stylesheet" runat="server" />

        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" runat="server" />
        <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/jquery.dataTables.css" runat="server" />

        <!-- CSS Pluging-->
        <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/dataTables.bootstrap4.css" runat="server" />

        <link href="@Url.Content("~/assets/css/Attendance.css")" rel="stylesheet" runat="server" type="text/css" />
    </head>
    
        <body class="">
            <div class="wrapper">
                <div class="sidebar">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="sidebar-wrapper">
                            <div class="logo text-center">
                                <div href="" class="simple-text logo-normal">
                                    Panel
                                    <br>

                                    @if (User.IsInRole(GestionRole.AdminUser))
                                    {
                                        <h6>Administrateur</h6>
                                    }
                                    else if (User.IsInRole(GestionRole.ProfUser))
                                    {
                                        <h6>Professeur</h6>
                                    }
                                    else if (User.IsInRole(GestionRole.EtudUser))
                                    {
                                        <h6>Etudiant</h6>
                                    }
                                   
                                </div>
                            </div>
                                @if (User.IsInRole(GestionRole.AdminUser))
                                {
                                    <ul class="nav">

                                        <li>
                                            <a href="~/DashAdmin">
                                                <i class="fad fa-tachometer-alt-slow"></i>
                                                <p>Dashboard</p>
                                            </a>
                                        <li>
                                        <li>
                                            <a href="~/Utilisateurs">
                                                <i class="fad fa-users"></i>
                                                <p>Utilisateur</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Etudiants">
                                                <i class="fad fa-user-graduate"></i>
                                                <p>Etudiants</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Filiere">
                                                <i class="fad fa-university"></i>
                                                <p>Filières</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Matieres">
                                                <i class="fad fa-users-class"></i>
                                                <p>Matières</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Salle">
                                                <i class="fad fa-archway"></i>
                                                <p>Salles</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Seance">
                                                <i class="fad fa-handshake-alt"></i>
                                                <p>Seances</p>
                                            </a>
                                        </li>

                                    </ul>
                                }
                                else if (User.IsInRole(GestionRole.ProfUser))
                                {
                                    <ul class="nav">

                                        <li>
                                            <a href="~/DashProf">
                                                <i class="fad fa-tachometer-alt-slow"></i>
                                                <p>Dashboard</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Matieres/MatiereProf">
                                                <i class="fad fa-tachometer-alt-slow"></i>
                                                <p>Gestion des Matières</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else if (User.IsInRole(GestionRole.EtudUser))
                                {
                                    <ul class="nav">

                                        <li>
                                            <a href="">
                                                <i class="fad fa-tachometer-alt-slow"></i>
                                                <p>Dashboard (En cours)</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Profil">
                                                <i class="fad fa-users"></i>
                                                <p>Profil</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            
                        </div>
                    }
                    </div>
                <div class="main-panel">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                        <div class="container-fluid">
                            <div class="navbar-wrapper">
                                <div class="navbar-toggle d-inline">
                                    <button type="button" class="navbar-toggler">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </button>
                                </div>
                                <a class="navbar-brand" href="">Easy Attendance</a>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-bar navbar-kebab"></span>
                                <span class="navbar-toggler-bar navbar-kebab"></span>
                                <span class="navbar-toggler-bar navbar-kebab"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav ml-auto">
                                    <partial name="_LoginPartial" />
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Navbar -->
                    <div class="content">
                        @RenderBody()
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        Easy Attendance
                                    </a>
                                </li>
                            </ul>
                            <div class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> <i class="tim-icons icon-heart-2"></i>
                                <a href="" target="_blank">made by Askour & Hilali</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

            <!--   Core JS Files   -->
            <script src="~/lib/jquery/dist/jquery.min.js" runat="server"></script>
            <script src="~/assets/js/core/popper.min.js" runat="server"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" runat="server"></script>
            <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js" runat="server"></script>
            <!-- Chart JS -->
            <script src="~/assets/js/plugins/chartjs.min.js"></script>

            <!--  Notifications Plugin    -->
            <script src="~/assets/js/plugins/bootstrap-notify.js"></script>

            <!-- DataTable JS-->
            <script src="~/lib/DataTables/js/jquery.dataTables.js"></script>
            <script type="text/javascript" src="~/lib/DataTables/js/dataTables.bootstrap.min.js"></script>

            <!-- EasyAttendance JS -->
            <script src="~/assets/demo/demo.js"></script>

            @RenderSection("Scripts", required: false)

            <script>
                $(document).ready(function () {
                    $().ready(function () {
                        $sidebar = $('.sidebar');
                        $navbar = $('.navbar');
                        $main_panel = $('.main-panel');

                        $full_page = $('.full-page');

                        $sidebar_responsive = $('body > .navbar-collapse');
                        sidebar_mini_active = true;
                        white_color = false;

                        window_width = $(window).width();

                        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                        $('.fixed-plugin a').click(function (event) {
                            if ($(this).hasClass('switch-trigger')) {
                                if (event.stopPropagation) {
                                    event.stopPropagation();
                                } else if (window.event) {
                                    window.event.cancelBubble = true;
                                }
                            }
                        });

                        $('.fixed-plugin .background-color span').click(function () {
                            $(this).siblings().removeClass('active');
                            $(this).addClass('active');

                            var new_color = $(this).data('color');

                            if ($sidebar.length != 0) {
                                $sidebar.attr('data', new_color);
                            }

                            if ($main_panel.length != 0) {
                                $main_panel.attr('data', new_color);
                            }

                            if ($full_page.length != 0) {
                                $full_page.attr('filter-color', new_color);
                            }

                            if ($sidebar_responsive.length != 0) {
                                $sidebar_responsive.attr('data', new_color);
                            }
                        });

                        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                            var $btn = $(this);

                            if (sidebar_mini_active == true) {
                                $('body').removeClass('sidebar-mini');
                                sidebar_mini_active = false;
                                blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                            } else {
                                $('body').addClass('sidebar-mini');
                                sidebar_mini_active = true;
                                blackDashboard.showSidebarMessage('Sidebar mini activated...');
                            }

                            // we simulate the window Resize so the charts will get updated in realtime.
                            var simulateWindowResize = setInterval(function () {
                                window.dispatchEvent(new Event('resize'));
                            }, 180);

                            // we stop the simulation of Window Resize after the animations are completed
                            setTimeout(function () {
                                clearInterval(simulateWindowResize);
                            }, 1000);
                        });

                        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                            var $btn = $(this);

                            if (white_color == true) {

                                $('body').addClass('change-background');
                                setTimeout(function () {
                                    $('body').removeClass('change-background');
                                    $('body').removeClass('white-content');
                                }, 900);
                                white_color = false;
                            } else {

                                $('body').addClass('change-background');
                                setTimeout(function () {
                                    $('body').removeClass('change-background');
                                    $('body').addClass('white-content');
                                }, 900);

                                white_color = true;
                            }


                        });

                        $('.light-badge').click(function () {
                            $('body').addClass('white-content');
                        });

                        $('.dark-badge').click(function () {
                            $('body').removeClass('white-content');
                        });
                    });
                });
            </script>

            <script>
                $(document).ready(function () {
                    // Javascript method's body can be found in assets/js/demos.js
                    demo.initDashboardPageCharts();

                });
            </script>
            <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
            <script>
                window.TrackJS &&
                    TrackJS.install({
                        token: "ee6fab19c5a04ac1a32a645abde4613a",
                        application: "black-dashboard-free"
                    });
            </script>
        </body>
    
    </html>
